@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imagens/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(73, 71, 71);
}

.container {
    margin: 5px;
    max-width: 900px;
}

#links {
    list-style: none;
    display: flex;
    gap: 10px;
    font-weight: 900;
}

#menu {
    display: flex;
    align-items: center;
    background-color: #D4D3BE;
    height: 80px;
    padding: 0px;
}

li {
    margin-left: 10px;
}

li a:hover {
    text-decoration: underline;
    color: black;
}

main {
    background-color: white;
    width: 900px;
}

h3 {
    padding: 10px;
}

.texto {
    text-align: justify;
    text-indent: 7px;
    margin: 10px 5px;
    font-weight: normal;
    line-height: 1.2em;
}

footer {
    display: block;
    text-align: center;
    padding: 20px;
}

#direitos {
    font-weight: 900;
    font-size: 1.2em;
}

.bordas {
    border: 10px solid rgb(207, 201, 201);
    margin-left: 10px;
}

.contato {
    margin: 10px 22px -8px 10px;
}