/*HERANÇA E ESPEPECIFICIDADE*/

/*QUANDO VOCÊ APLICA UMA FORMATAÇÃO, OS OUTROS ELEMENTOS FILHOS, HERDAM ESSAS FORMATAÇÕES. POR ISSO É BOM QUE NO BODY, HTML, ESSAS TAGS MAIS GERAIS, UTILIZAR FORMATAÇÕES MAIS GENÉRICAS.*/

/*BORDER E BACKGROUND NÃO SÃO HERDADOS.*/

/*COM A ESPECIFICIDADE CONSEGUIMOS TRABALHAR AS REGRAS E INDICAR QUAIS REGRAS SERÃO APLICADAS PRIMEIRO.*/

/*UTILIZANDO O ATRIBUTO !IMPORTANT NO FINAL, VOCÊ DIZ AO CSS QUE ESSE ATRIBUTO É MAIS IMPORTANTE QUE OS OUTROS. EX: 

p {
    color: blue !important;
}

p {
    color: red;
}

NESSE CASO SERIA APLICADO A PRIMEIRA PROPRIEDADE, POIS ESTÁ COM O ATRIBUTO !IMPORTANT, SE NÃO ESTIVER, SEMPRE QUE HOUVER DOIS ATRIBUTOS IGUAIS, O ÚLTIMO QUE SERÁ APLICADO.

SE UM SELETOR FOR MAIS ESPECÍFICO QUE OUTRO, A REGRA MAIS ESPECÍFICA SERÁ APLICADA, EX:

* {
    color: red;
}

h1 {
    color: blue;
}

NESSE CASO O H1 SERIA AZUL, POIS O * É UM SELETOR UNIVERSAL E O H1 É MAIS ESPECÍFICO. QUANTO MAIS ESPECÍFICO FOR O SELETOR, ELE TERÁ PRECEDÊNCIA PARA APLICAÇÃO.

OBS: O ID É MAIS ESPECÍFICO QUE A CLASS.
*/