#caixa {
    width: 300px;
    height: 300px;
    background-color: orange;
}

#caixa:hover {
    width: 400px;
    background-color: yellow;
    transition: width 3s, background 3s; /*Também pode ser colocado como parâmetro ALL e o tempo - transition: all 3s; */
}